<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/basedata/expert-type" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-title>แก้ไขรายการประเภทวิทยากร</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>ชื่อ (ภาษาไทย) <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input required type="text" [(ngModel)]="name_th" name="name_th"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>ชื่อ (ภาษาอังกฤษ) <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input required type="text" [(ngModel)]="name_en" name="name_en"></ion-input>
  </ion-item>
  <br>
  <ion-button expand="block" (click)=" update_expert_type()">บันทึก</ion-button>
</ion-content>
