<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>สถานที่</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="insert_place()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-item-sliding *ngFor="let place of place">
    <ion-item>
      <ion-label>{{place.place_name_th}}</ion-label>
      <ion-toggle color="success" [(ngModel)]="place.place_status" (click)="change_status_place(p)"></ion-toggle>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="edit_place(place)" color="warning">
        <ion-icon name="create"></ion-icon>
      </ion-item-option>
      <ion-item-option (click)="remove_place(place)" color="danger">
        <ion-icon name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-content>