<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>major_insert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


    <ion-item>

      <ion-label position="floating" >ชื่อสาขาวิชา (ภาษาไทย)</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">ชื่อสาขาวิชา (อังกฤษ)</ion-label>
      <ion-input></ion-input>
    </ion-item>
   
    <ion-item>
      <ion-label>ชื่อด้านการพัฒนา</ion-label>
      <ion-select interface="action-sheet">
        <ion-select-option>ด้านวิชาการ</ion-select-option>
        <ion-select-option>ด้านธุรกิจ</ion-select-option>
        <ion-select-option>ด้านวัฒนธรรม</ion-select-option>
      </ion-select>
    </ion-item>

<br>
  <!-- <div class="ion-padding">
    <ion-button expand="block" type="submit" class="ion-no-margin" (click)="major_insert()">บันทึก</ion-button>
  </div> -->
  <ion-button expand="block" type="submit" (click)="major_insert()" >บันทึก</ion-button>
</ion-content>

