<ion-header style="background-color: #273440;">
  <ion-label>
    <ion-toolbar color="dark">
      <!-- <ion-avatar slot="start">
          <ion-icon size="large" ios="ios-person" md="md-person"></ion-icon>
      </ion-avatar> -->
      <ion-title>
        Home
      </ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-label>
</ion-header>

<ion-content style="background-color: #F8F8F8; ">
  <div>
    <ion-row responsive-sm>
      <ion-col>
        <ion-card class="card" [routerLink]="['/basedata']" id="Basedata">
          <ion-card-header>
            <ion-card-title>
              <ion-icon size="large" ios="ios-document" md="md-document"></ion-icon>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-card-content">
            <font style="font-size: 15px; margin-left:10%;">Basedata</font>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="card" [routerLink]="['/expert']" routerLinkActive="router-link-active" id="expert">
          <ion-card-header>
            <ion-card-title>
              <ion-icon size="large" ios="ios-people" name="people"></ion-icon>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-card-content">
            <font style="font-size: 15px; margin-left:20%;">Expert</font>   
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row responsive-sm>
      <ion-col>
        <ion-card class="card" [routerLink]="['/project']" routerLinkActive="router-link-active"id="C">
          <ion-card-header>
            <ion-card-title>
              <ion-icon size="large" ios="ios-person" md="md-person"></ion-icon>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-card-content">
            <a></a>
            <font style="font-size: 15px; margin-left:10%;">Project</font>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="card" [routerLink]="['/user']" routerLinkActive="router-link-active"id="D">
          <ion-card-header>
            <ion-card-title>
              <ion-icon size="large" name="person"></ion-icon>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-card-content">      
            <a></a>
            <font style="font-size: 15px; margin-left:20%;">User</font>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </div>
</ion-content>

<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Schedule</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Speakers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs> -->