
.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
  }
  
  .my-menu{
    background: #333;
   }
  
  ion-icon{
    margin-left: 30%;
  }
  
  
   .card
   {
        max-width: 140px;
        max-height: 150px;
        margin-bottom: -15px !important;
        margin-right: 1px !important;
        margin-left: 1px !important;
        border-radius: 10px;      
   }
  
  //  .ion-card-menu{
  //    height: 20vh;
  //    width: 25vh;
  //  }
  
  //  .ion-card-content{
  //   margin-bottom: 100px;
  // }