<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title>expert_type</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let index of index_of_types">
      <ion-item>
        <ion-label>{{index.title}}</ion-label>
        <ion-toggle color="success" [(ngModel)]="index.status"></ion-toggle>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)=" remove_expert_type(index)" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list> 

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
     <ion-fab-button>
      <ion-icon name="add" [routerLink]="['/basedata/expert-type/expert-type-insert']"  ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
