<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>expert_out</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-sliding *ngFor="let expert_out of expert_out">
    <ion-item>
      <ion-label>{{expert_out.ep_fname}} {{expert_out.ep_lname}}</ion-label>
      <ion-toggle color="success" [(ngModel)]="expert_out.ep_active" (click)="change_status_expert_out(expert_out)"></ion-toggle>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="edit_expert_out(expert_out)" color="warning">
        <ion-icon name="create"></ion-icon>
      </ion-item-option>
      <ion-item-option  (click)="remove_expert_out(expert_out)" color="danger">
        <ion-icon name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="insert_expert_out()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>