#color{
    background:#B7DED2 ;
}


.card
{
     max-width: 140px;
     max-height: 150px;
     margin-bottom: -15px !important;
     margin-right: 1px !important;
     margin-left: 1px !important;
     border-radius: 10px;     
     font-family: Kanit; 
     font-weight: bold;
     font-style: #5E5E5E;
     
}