<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>การพัฒนา</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="insert_develops()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-item-sliding *ngFor="let develop of develops">
    <ion-item>
      <ion-label>{{develop.dev_name_th}}</ion-label>
      <ion-toggle color="success" [(ngModel)]="develop.dev_status" (click)="change_status_develops(develop)"></ion-toggle>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="edit_develops(develop)" color="warning">
        <ion-icon name="create"></ion-icon>
      </ion-item-option>
      <ion-item-option (click)="remove_develops(develop)" color="danger">
        <ion-icon name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-content>