<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title>Develops</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-item-sliding *ngFor="let develop of develops">
    <ion-item>
      <ion-label>{{develop.Name }}</ion-label>
      <ion-toggle checked color="success"[(ngModel)]="develop.Status"></ion-toggle>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="remove(develop)"><ion-icon name="trash" ></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>


<!--  -->

  <ion-fab [routerLink]="['/develops-insert']" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
