<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>expert_in_insert</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-item>
        <ion-label position="floating">First Name
            <font color="danger">*</font>
        </ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Last Name
            <font color="danger">*</font>
        </ion-label>
        <ion-input></ion-input>
    </ion-item>


    <div class="ion-padding">
        <ion-button expand="block" type="submit" (click)="insert_expert_in()" class="ion-no-margin">Create account</ion-button>
    </div>


</ion-content>