<ion-header  >
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>ข้อมูลพื้นฐาน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #F8F8F8; ">
  <div>
    <ion-row responsive-sm>
      <ion-col>
        <ion-card class="card" [routerLink]="['/basedata/develops']"routerLinkActive="router-link-active" id="Develops">
          <ion-card-header>
            <ion-card-title>
              <ion-icon size="large" ios="ios-document" md="md-document"></ion-icon>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-card-content">
            <font style="font-size: 10px; margin-left:10%;">ด้านการพัฒนา</font>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="card" [routerLink]="['/basedata/food-type']" routerLinkActive="router-link-active"id="food">
          <ion-card-header>
            <ion-card-title>
              <ion-icon size="large" ios="ios-person" md="md-person"></ion-icon>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-card-content">
            <font style="font-size: 10px;">ด้านประเภทอาหาร</font>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row responsive-sm>
      <ion-col>
        <ion-card class="card" [routerLink]="['/basedata/place']" routerLinkActive="router-link-active"id="place">
          <ion-card-header>
            <ion-card-title>
              <ion-icon size="large" ios="ios-person" md="md-person"></ion-icon>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-card-content">
            <a></a>
            <font style="font-size: 10px; margin-left:10%;">ด้านสถานที่จัดอบรม</font>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="card" [routerLink]="['/basedata/major']" routerLinkActive="router-link-active"id="major">
          <ion-card-header>
            <ion-card-title>
              <ion-icon size="large" ios="ios-person" md="md-person"></ion-icon>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-card-content">
            <a></a>
            <font style="font-size: 10px;">ด้านสาขาวิชา</font>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row responsive-sm>
      <ion-col>
        <ion-card class="card" [routerLink]="['/basedata/bank']" routerLinkActive="router-link-active"id="bank">
          <ion-card-header>
            <ion-card-title>
              <ion-icon size="large" ios="ios-person" md="md-person"></ion-icon>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-card-content">
            <a></a>
            <font style="font-size: 10px; margin-left:10%;">ด้านบัญชีธนาคาร</font>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="card" [routerLink]="['/basedata/expert-type']" routerLinkActive="router-link-active"id="expert">
          <ion-card-header>
            <ion-card-title>
              <ion-icon size="large" ios="ios-person" md="md-person"></ion-icon>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-card-content">
            <a></a>
            <font style="font-size: 10px;">ด้านประเภทวิทยากร</font>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row responsive-sm>
      <ion-col>
        <ion-card class="card" [routerLink]="['/basedata/skill']" routerLinkActive="router-link-active">
          <ion-card-header>
            <ion-card-title>
              <ion-icon size="large" ios="ios-person" md="md-person"></ion-icon>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-card-content">
            <a></a>
            <font style="font-size: 10px; margin-left:10%;">ทักษะ</font>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>